PyQt5
PyQt-Fluent-Widgets
numpy
flask
win11toast
adbutils
uiautomator2==3.0.2
opencv-python
psutil
winrt.windows.foundation
winrt.windows.foundation.collections
winrt.windows.graphics.imaging
winrt-Windows.Globalization
winrt-Windows.Media.Ocr
winrt.windows.security.cryptography
winrt.windows.storage
winrt.windows.storage.streams